{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

    <div class="rowf center-xs">
        <div class="columnf1"><div class="card">...</div></div>
        <div class="columnf1"><div class="card">...</div></div>
        <div class="columnf1"><div class="card">...</div></div>
        <div class="columnf1"><div class="card">...</div></div>
    </div>
    <div class="rowf center-xs">
        <div class="columnf2"><div class="card">...</div></div>
        <div class="columnf2"><div class="card">...</div></div>
    </div>
    <div class="rowf center-xs">
        <div class="columnf3"><div class="card">...</div></div>       
    </div>
    <div class="rowf center-xs">
        <div class="columnf3"><div class="card">...</div></div>       
    </div>
    <div class="rowf center-xs">
        
    </div>
    <div class="row center-xs">
        
    </div>
{% endblock %}
                


